* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-image: url(https://i.pinimg.com/originals/25/71/28/2571288de2cdaeb5067d3adf92d20977.jpg);
    margin: 0 auto;
    background-repeat: no-repeat;
    }
/* Navigation */
.navegação{
    border: 10px solid rgb(151,214,195) linear-gradient(90deg, rgba(151,214,195,1) 0%, rgba(241,222,145,1) 38%, rgba(242,133,0,1) 100%);
    background: rgb(151,214,195);
    background: linear-gradient(90deg, rgba(151,214,195,1) 0%, rgba(241,222,145,1) 38%, rgba(242,133,0,1) 100%);
    position: fixed;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    margin: 0px 0px;
}

ul{
    list-style-type: none;
    text-align: right;
    margin: 0;
}

li{
    display: inline-flex;
    text-transform: uppercase;
    font-size: large;
    padding: 20px;
    color: #B50A08ff;
}

li:hover{
    color: #71C5B8ff;
}

.ending{
    margin: 0px 100px 0px 0px;
}

/* Page Contents */
.conteudo{
box-sizing: border-box;
padding: 40px;
text-align: center;
width: 100%;
position: sticky;
top: 50px;
columns: 2;

}

h1{
    font-size: 110px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 5px;
    padding: 200px 0px ;
    left: auto;
    color: #170F07ff;
}

span{
    font-size: 60px;
    display: block;
    block-size: -20px;
    }

span:hover{
    background: linear-gradient(90deg, rgba(151,214,195,1) 0%, rgba(241,222,145,1) 38%, rgba(242,133,0,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.data{
    color: #97D6C3ff ;
}

.informative{
    box-sizing: border-box;
    position: sticky;
    columns: 2;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 16px;
    padding: 100px;
    background-color: rgba(241,222,145,1);
    color: #170F07ff;

}
/* Footer */
.social{
    text-transform: lowercase;
    text-decoration: none;
    text-align: center;
}

a{
    text-transform: lowercase;
    text-decoration: none;
    text-align: center;
    color: beige; 
    display: block;
}

footer{
    padding: 25px 0px;
    background: rgb(151,214,195);
    background: linear-gradient(90deg, rgba(151,214,195,1) 0%, rgba(241,222,145,1) 38%, rgba(242,133,0,1) 100%);
}